/* #myMap {
    width:400px;
    height:300px;
} */
/* 
#addressText {
    width:auto;
}



#inputForm {
    position:absolute;
    top:200px;
    left:250px;
    padding:10px;
    background-color:white;
    border:1px solid #000;
    border-radius:10px;
} */

/* #placeInfo
{
    margin: auto;
} */